# Flask config
FLASK_APP=autoapp.py
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=dev-secret-key

# PostgreSQL config
DATABASE_URL=postgresql://myuser:mypassword@db:5432/mydb

# Logging / Gunicorn
GUNICORN_WORKERS=1
LOG_LEVEL=debug
SEND_FILE_MAX_AGE_DEFAULT=0

MAIL_SERVER=
MAIL_PORT=25
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=false
MAIL_USE_SSL=false